[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jamdict = "*"
jamdict-data = "*"
ankisync2 = "*"
genanki = "*"
tqdm = "*"
dataclasses-serialization = "*"
bson = "*"
requests = "*"
pystardict = "*"
dacite = "*"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.10"
